<h1 mat-dialog-title>{{ editMode ? 'Edit Category' : 'New Category' }}</h1>
<form mat-dialog-content [formGroup]="request?.formGroup">
  <mat-form-field>
    <input [readonly]="request?.formGroup?.pending" matInput formControlName="name" placeholder="Name" autocomplete="off">
    <mat-error *ngIf="request?.formGroup?.get('name')?.hasError('required')">Name is <strong>required</strong>!</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button [disabled]="request?.formGroup?.invalid || request?.formGroup?.pending" mat-button (click)="save()" color="primary" name="save">Save</button>
  <button mat-button mat-dialog-close color="accent" name="cancel">Cancel</button>
  <button [disabled]="request?.formGroup?.pending" *ngIf="editMode" mat-button (click)="delete()" color="warn" name="delete">Delete</button>
</div>