@import '../../../theme';

:host {
  padding: 2rem;
  > h1 {
    margin: 0 2rem;
  }
}
.movies {
  list-style-type: none;
  margin: 0;
}
.mat-card-image {
  max-height: 20rem;
  overflow: hidden;
}
/deep/ .mat-card .mat-card-header-text {
  width: 100%;
  margin: 0;
}
.mat-card-title, .mat-card-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .year {
    color: rgba(0, 0, 0, 0.54);
  }
}
.mat-card-content .label {
  margin: 0;
  font-weight: 500;
  &:not(:first-child) {
    margin-top: .5em;
  }
}