<h1 class="mat-h1">Movies</h1>
<ul class="movies grid-with-gaps">
  <li class="g-sm-12 g-md-6 g-lg-6" *ngFor="let movie of movies">
    <mat-card>
      <mat-card-header>
        <div *ngIf="movie?.avatarUrl" mat-card-avatar class="mat-elevation-z1" style="margin-right: 16px; background-size: cover;" [style.backgroundImage]="getAvatarUrl(movie?.avatarUrl)"></div>
        <mat-card-title>
          <span>{{ movie?.name }}</span>
          <span class="year">{{ movie?.year }}</span>
        </mat-card-title>
        <mat-card-subtitle>
          <span>{{ movie?.category?.name }}</span>
          <span>{{ movie?.duration }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img draggable="false" width="100%" [src]="movie?.thumbnailUrl" alt="Thumbnail">
      </div>
      <mat-card-content>
          <h5 class="mat-h5 label">Description:</h5>
          {{ movie?.description }}
          <h5 class="mat-h5 label">Rating:</h5>
          {{ movie?.rating }}
          <a *ngIf="movie?.ratingUrl" [href]="movie?.ratingUrl" target="_blank">IMDb</a>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="watchTrailer(movie?.trailerUrl)">Trailer</button>
        <button mat-button color="accent" (click)="scheduleMovie(movie)">Schedule</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>