table {
  width: 100%;
}
.mat-header-cell, /deep/ .mat-sort-header-button {
  text-transform: capitalize;
}
.mat-form-field {
  width: 100%;
  padding: .5rem 1.5rem;
  background-color: white;
  /deep/ .mat-form-field-wrapper {
    padding-bottom: 0;
    .mat-form-field-underline {
      bottom: 0;
      background-color: rgba(0, 0, 0, .2);
    }
  }
  &.mat-focused {
    .mat-icon {
      color: #3F51B5;
    }
  }
  .mat-icon {
    color: #858585;
    transition: .25s ease;
  }
}
.mat-row.clickable {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, .04);
  }
}