@import './assets/scss/grid';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
.mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
  .mat-form-field-underline {
    bottom: 0;
  }
}