@import './assets/scss/grid';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
.mat-form-field {
  width: 100%;
}
.mat-snack-bar-container:not(.override) {
  min-width: unset;
}